@using OSSFinder
@using OSSFinder.Infrastructure.Extensions
@using OSSFinder.Models.ViewModels
@model LogOnViewModel

@using (Html.BeginForm("SignIn", "Authentication", FormMethod.Post, new { @class = "aui" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ReturnUrl", ViewData[Constants.ReturnUrlViewDataKey])
    @Html.Hidden("LinkingAccount", Model.External != null)

    if (Model.External != null)
    {
        @Html.HiddenFor(m => m.External.ProviderAccountNoun)
        @Html.HiddenFor(m => m.External.AccountName)
        @Html.HiddenFor(m => m.External.FoundExistingUser)
    }

    @Html.ValidationSummaryFor("SignIn")

    <div class="field-group">
        @Html.LabelFor(m => m.SignIn.UserNameOrEmail)
        @Html.TextBoxFor(m => m.SignIn.UserNameOrEmail, new { @class = "text" })
        @Html.ValidationMessageFor(m => m.SignIn.UserNameOrEmail)
    </div>

    <div class="field-group">
        @Html.LabelFor(m => m.SignIn.Password)
        @Html.EditorFor(m => m.SignIn.Password)
        @Html.ValidationMessageFor(m => m.SignIn.Password)
    </div>

@*        <p id="signIn-lostpassword">*@
@*            @Html.ActionLink("Lost your Password?", "ForgotPassword", "Users")*@
@*        </p>*@
        
    <div class="buttons-container">
        <div class="buttons">
            <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Log in">
            @Html.ActionLink("Forgot your password?", "ForgotPassword", "Users", new { @class = "aui-button aui-button-link" })
        </div>
        <div class="sign-up">
            @Html.ActionLink("Need an account? Sign up free.", "Register", "Users")
        </div>
    </div>
}